{% extends 'base.html' %}

{% block head %}
<title>TradeAI - An error occurred</title>
<link rel="stylesheet" href="{{url_for('static',filename='css/style2.css')}}"/>
{% endblock %}

{% block body %}
<div class="bg-image"></div>
<nav>
    <ul>
      <li><img class="logo" src="https://mail.google.com/mail/u/0?ui=2&ik=31178729b7&attid=0.1&permmsgid=msg-a:r7043939111896252411&th=188713de7ac36d6c&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ-Vu2S85CXvuGXxIfCV9THhUQzhPysXTkFdTypwB7I0_QC_NwqwKttttKc-8o-uaLiDL19owLw8YJmwlg_tq7QBRKP6e8lfHM72okOHUytnlw6cUOYmcWpbSn0&disp=emb&realattid=ii_libjafld0" id="logo">
      </li>
    </ul>
  </nav>
<div class="center">
    <div class="form-for-error">
        <h2>Uh Oh :(</h2>
        {% if error.Error %}
        <p>{{ error.Error }}</p>
        {% else %}
        <p>An internal error that was not logged occurred. Try again later.</p>
        {% endif %}
        <input type="submit" style="margin-top: 10px;border: none; background-color: greenyellow; height: 50px; cursor: pointer;" name="sub" value="Logout"/>
    </div>
</div>
{% endblock %}